@model MvcTenkiu.Models.MOVIMIENTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MOVIMIENTO</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MO_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MO_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DISPOSITIVO.DP_MODELO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DISPOSITIVO.DP_MODELO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MO_TIPO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MO_TIPO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MO_FECHAHORA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MO_FECHAHORA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MO_DP_RES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MO_DP_RES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MO_PUNT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MO_PUNT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
