@model MvcTenkiu.Models.DISPOSITIVO

@{
    ViewBag.Title = "Edit";
}

<h2>Edicion de Dispositivo</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DISPOSITIVO</legend>

        
           @Html.HiddenFor(model => model.DP_ID)
           @Html.HiddenFor(model => model.DP_PUNT)
           @Html.HiddenFor(model => model.DP_FCREACION)
           
        

        <div class="editor-label">
            Modelo del Dispositivo
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DP_MODELO, new { @required = true, @maxlength = "20" })
            @Html.ValidationMessageFor(model => model.DP_MODELO)
        </div>

        <div class="editor-label">
           Estado del Dispositivo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DP_STATUS, new { @required = true, @maxlength = "20" })
            @Html.ValidationMessageFor(model => model.DP_STATUS)
        </div>

        <div class="editor-label">
            Numero de Serie
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DP_SERIE, new { @required = true, @maxlength = "20" })
            @Html.ValidationMessageFor(model => model.DP_SERIE)
        </div>

       <p>
            <input type="submit" value="Guardar Cambios" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
