@model IEnumerable<MvcTenkiu.Models.DISPOSITIVO>

@{
    ViewBag.Title = "Index";
}

        <h2>Lista de Dispositivos</h2>

        <p>
            @Html.ActionLink("Nuevo Dispositivo", "Create")
        </p>
        <div class="lista">
            <table class="Tablalista">

                <tr class="enc_lista">
                    <th>
                        ID
                    </th>
                    <th>
                        Modelo
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        N° de Serie
                    </th>
                    <th>
                        Fecha de Creacion
                    </th>
                    <th>
                        Puntaje Total
                    </th>
                    <th></th>
                </tr>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DP_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DP_MODELO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DP_STATUS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DP_SERIE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DP_FCREACION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DP_PUNT)
                        </td>
                        <td class="link_lista">
                            @Html.ActionLink("Edit", "Edit", new { id=item.DP_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.DP_ID })
                        </td>
                    </tr>
                }

            </table>
        </div>
