@model MvcTenkiu.Models.CLAN

@{
    ViewBag.Title = "Create";
}

<h2>Crea tu Clan</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CLAN</legend>

        <div class="editor-label">
            Nombre de tu Clan
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL_NOMBRE)
            @Html.ValidationMessageFor(model => model.CL_NOMBRE)
        </div>

        <div class="editor-label">
           Una breve Descripcion
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL_DESCRIPCION)
            @Html.ValidationMessageFor(model => model.CL_DESCRIPCION)
        </div>

        <div class="editor-label">
            Sitio Web 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL_WWW)
            @Html.ValidationMessageFor(model => model.CL_WWW)
        </div>

        <div class="editor-label">
            Deseas que sea Privado?
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL_PRIV)
            @Html.ValidationMessageFor(model => model.CL_PRIV)
        </div>

        <p>
            <input type="submit" value="Crear Clan" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
