@model MvcTenkiu.Models.CLAN

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminacion de Grupo</h2>

<h3>Estas seguro de eliminarlo?</h3>

<div class="eliminardiv">

    <fieldset>
        <legend>CLAN</legend>

        <div class="display-label">
            Identificador
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CL_ID)
        </div>

        <div class="display-label">
            Nombre de Grupo
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CL_NOMBRE)
        </div>

        <div class="display-label">
            Fecha de Creacion
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CL_FCREACION)
        </div>

        <div class="display-label">
            Descripcion
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CL_DESCRIPCION)
        </div>

        <div class="display-label">
            Sitio Web
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CL_WWW)
        </div>

        <div class="display-label">
            Grupo Privado
        </div>
        <div class="display-field">
            @Html.CheckBoxFor(model => model.CL_PRIV.Value, new { @disabled=true})
        </div>
    </fieldset>
    </div>
<br/>
    @using (Html.BeginForm())
    {
        
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Volver", "Index")
        </p>
    }
