@model MvcTenkiu.Models.CLAN

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Clan</h2>
<div class="detallediv">
<fieldset>
    <legend>CLAN</legend>

    <div class="display-label">
         Codigo
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_ID)
    </div>

    <div class="display-label">
         Nombre
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_NOMBRE)
    </div>

    <div class="display-label">
         Creacion
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_FCREACION)
    </div>

    <div class="display-label">
         Descripcion
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_DESCRIPCION)
    </div>

    <div class="display-label">
         Sitio Web
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_WWW)
    </div>

    <div class="display-label">
         Privado ?
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.CL_PRIV)
    </div>
</fieldset>
    </div>
<br/>
<p>
    @Html.ActionLink("Volver", "Index")
</p>
