@model MvcTenkiu.Models.LOG

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LOG</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_LOG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_LOG)
            @Html.ValidationMessageFor(model => model.ID_LOG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_DISPOSITIVO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_DISPOSITIVO)
            @Html.ValidationMessageFor(model => model.ID_DISPOSITIVO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_USER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_USER)
            @Html.ValidationMessageFor(model => model.ID_USER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TIPOMOV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TIPOMOV)
            @Html.ValidationMessageFor(model => model.TIPOMOV)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_USER_RECEPTOR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_USER_RECEPTOR)
            @Html.ValidationMessageFor(model => model.ID_USER_RECEPTOR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CANT_PUNTOS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CANT_PUNTOS)
            @Html.ValidationMessageFor(model => model.CANT_PUNTOS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FECHAHORA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FECHAHORA)
            @Html.ValidationMessageFor(model => model.FECHAHORA)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
