@model MvcTenkiu.Models.VEHICULO

@{
    ViewBag.Title = "Create";
}

<h2>Vincula tu Vehiculo</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>VEHICULO</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.US_ID, "USUARIO")
        </div>
        <div class="editor-field">
            @Html.DropDownList("US_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.US_ID)
        </div>

        <div class="editor-label">
            Deseas añadirlo a algun Clan (si no, dejalo en blanco)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CL_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.CL_ID)
        </div>

        <div class="editor-label">
            Dispositivo Vinculado
        </div>
        <div class="editor-field">
            @Html.DropDownList("DP_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.DP_ID)
        </div>

        <div class="editor-label">
            Patente del vehiculo
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.VE_PATENTE, new { @required = true, @maxlength = "6" } )
            @Html.ValidationMessageFor(model => model.VE_PATENTE)
        </div>

        <div class="editor-label">
            Marca
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.VE_MARCA, new { @required = true, @maxlength = "20" })
            @Html.ValidationMessageFor(model => model.VE_MARCA)
        </div>

        <div class="editor-label">
            Modelo
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.VE_MODELO, new { @required = true, @maxlength = "20" })
            @Html.ValidationMessageFor(model => model.VE_MODELO)
        </div>

        <div class="editor-label">
            Año
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.VE_ANIO, new { @required = true, @max = 2015, @min = 1940, @size="2", @type = "number" })
            @Html.ValidationMessageFor(model => model.VE_ANIO)
        </div>

        <div class="editor-label">
            Color
          </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.VE_COLOR, new { @type="color" , @value="000000"})
            @Html.ValidationMessageFor(model => model.VE_COLOR)
        </div>

        <p>
            <input type="submit" value="Añadir Vehiculo" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
