@model MvcTenkiu.Models.VEHICULO

@{
    ViewBag.Title = "Delete";
}

<h2>Desvincular Vehiculo</h2>

<h3>Estas seguro de desvincularlo?</h3>
<fieldset>
    <legend>VEHICULO</legend>

    <div class="display-label">
         Codigo
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VE_ID)
    </div>

    <div class="display-label">
         Usuario Asignado
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.USUARIO.US_NOMBRE)
    </div>

    <div class="display-label">
        Clan Asignado
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLAN.CL_NOMBRE)
    </div>

    <div class="display-label">
      Dispositivo
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DISPOSITIVO.DP_MODELO)
    </div>

    <div class="display-label">
        Patente
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VE_PATENTE)
    </div>

    <div class="display-label">
         Marca
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VE_MARCA)
    </div>

    <div class="display-label">
    Modelo
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VE_MODELO)
    </div>

    <div class="display-label">
    Año
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VE_ANIO)
    </div>

    <div class="display-label">
Color
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.VE_COLOR, new { @type = "color", @readonly = true, @style = "background:0; width:35px; height:35px" })
    </div>

    <div class="display-label">
        Estado
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VE_ESTADO)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <br/>
    <p>
        <input type="submit" value="Desvincular" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
