@model MvcTenkiu.Models.VEHICULO

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>VEHICULO</legend>

        @Html.HiddenFor(model => model.VE_ID)
        @Html.HiddenFor(model => model.US_ID)
        @Html.HiddenFor(model => model.VE_PATENTE)
        @Html.HiddenFor(model => model.VE_MARCA)
        @Html.HiddenFor(model => model.VE_MODELO)
        @Html.HiddenFor(model => model.VE_ANIO)
        @Html.HiddenFor(model => model.VE_COLOR)
        @Html.HiddenFor(model => model.VE_ESTADO)

        <div class="editor-label">
           Clan
        </div>
        <div class="editor-field">
            @Html.DropDownList("CL_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.CL_ID)
        </div>

        <div class="editor-label">
           Dispositivo
        </div>
        <div class="editor-field">
            @Html.DropDownList("DP_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.DP_ID)
        </div>
                      
       <br/>
       
        <p>
            <input type="submit" value="Guardar Cambios" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
