@model IEnumerable<MvcTenkiu.Models.VEHICULO>

@{
    ViewBag.Title = "Index";
}

<h2>Tus Vehiculos Vinculados</h2>

<p>
    @Html.ActionLink("Vincula un Nuevo Vehiculo", "Create")
</p>
<div class="lista">
    <table class="Tablalista">

        <tr class="enc_lista">
            <th>
                Cod
            </th>
            <th>
                Usuario
            </th>
            <th>
                Clan
            </th>
            <th>
                Dispositivo
            </th>
            <th>
                Patente
            </th>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Año
            </th>
            <th>
                Color
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VE_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USUARIO.US_NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CLAN.CL_NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DISPOSITIVO.DP_MODELO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VE_PATENTE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VE_MARCA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VE_MODELO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VE_ANIO)
                </td>
                <td>
                    
                    @Html.TextBoxFor(modelItem => item.VE_COLOR, new {@type="color", @readonly=true, @style="background:0; width:35px; height:35px"})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VE_ESTADO)
                </td>
                <td class ="link_lista">
                    @Html.ActionLink("Editar", "Edit", new { id = item.VE_ID }) |
                    @Html.ActionLink("Desvincular", "Delete", new { id = item.VE_ID })
                </td>
            </tr>
        }

    </table>
    </div>
